html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    
}

/*START*/

html, body {
    font-family: Tahoma, sans-serif;
}

footer {
    width: 100%;
    height: 280px;
    margin: 20px auto;
    background: #264769;
}

section {
    float: left;
    padding: 20px 20px;
    color: white;
}

h1 {
    color: orange;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
}

ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 5px 5px 5px 0px;
}

.buttons {
    width: 15%;
    margin-left: 50px;
}

.learning-system {
    width: 26%;
}

p {
    padding: 0px 5px 5px 0px;
    line-height: 25px;
    margin-bottom: 10px;
}

.buttons a {
    display: block;
    border: darkorange 2px solid;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}

.buttons a:hover {
    color: darkorange;
    background: #e8dfdf;
    transition: background-color 0.8s;
}

.fb-like-box {
     width:100%;
 
    background-color: #E9ECEF;
}

#social-networks a { 
    padding-right: 8px;
}

#social-networks img:hover {
    opacity: 0.5;
    transition: opacity 0.7s;
}