* {
	margin: 0;
	padding: 0;
	
}

@font-face {
	    font-family: glyph;
   	 	src: url(glyphicons-halflings-regular.ttf);
}

body {
	background-image: url(blurred-green-background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: Arial,Helvetica,sans-serif;
}

#login {
	width: 350px;
	height: 265px;
}

#searchForm {
	width: 350px;
	height: 34px;

}

form{
	margin: 20px auto;
	background: rgba(255, 255, 255, 0.5);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	box-shadow: 0 0 10px rgba(0,0,0,.5);
}

#login h3 {
	text-align: center;
	background-color: #93d55c;
	color: white;
	font-weight: normal;
	padding: 10px 0px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-bottom: 20px;
}

#login input {
	display: inline-block;
	margin: 10px 10px;
	
}

#login input[type="text"],#login input[type="password"] {
	width: 80%;
	display: inline-block;
	height: 33px;
	border: 1px solid gray;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding-left: 10px;
}

label[for="user"]:before {
	content: "\e008";
}

label[for="pass"]:before {
	content: "\e033";
}

label[for="user"]:before,label[for="pass"]:before {
	font-family: glyph;
	background-color: #eee;
	display: inline-block;
	vertical-align: middle;
	padding: 7px;
	position: relative;
	left: 16px;
	border: 1px solid gray;
	color: #4b4a4a;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}


#login > input[type="submit"]{
	width: 320px;
	margin-left: 15px;
	padding: 10px;
	border-radius: 5px;
	border: none;
	background: green;
	color: white;
	box-shadow: 0px 5px 0px #215c21;
	margin-top: 20px;
}


body > section {
	display: block;
	width: 350px;
	margin: 0 auto;
}

#search {
	width: 73%;
}

button:before {
	content: "\e003";
	border-top-left-radius: 0px;
	border-bottom-left-radius:0px;
	position: static;
	border: none;
	font-family: glyph;
}

button {
	width: 25%;
	height: 35px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: none;
	background: #5cb85c;
	color: #fff;
	vertical-align: bottom;
}

input[type="search"] {
	display: inline-block;
	height: 35px;
	border: 1px solid gray;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding-left: 10px;
	position: relative;
	left: 5px;
}

button:hover {
	cursor: pointer;
	background: #257225;
}

#login > input[type="submit"]:hover {
	background: #33a333;
}

#login > span {
	padding: 9px;
	background-color: #fff;
	position: relative;
	left: 10px;
}

form #u {
	padding: 10px;
}
