body {
    font-family:Arial, sans-serif;
}

#wrapper {
    width: 680px;
    margin: 0 auto;
}

header h1 {
	margin-left: 10px;
	font-size: 24px;
	border-bottom: 2px solid gray;
	padding-right: 0;
	width: 648px;
	margin-bottom: 10px;
	padding-bottom: 5px;
}

section {
	margin-left: 10px;
	border-bottom: 2px solid gray;
	margin-bottom: 20px;
	width: 648px;
}

section, section article .text, section article, aside{
    display: inline-block;
}

section article .text h2, section article .text p {
    margin: 0;
    padding: 0;
}

section article .text h2 {
    font-size: 18px;
}

section article .text p { 
    font-size: 14px;
    font-weight: bold;
    color: #aaa;
	margin-bottom: 15px;
}

section article img {
    margin-right: 5px;
}

section aside {
    vertical-align: top;
    margin-left: 365px;
}

section aside p{
	margin: 0;
	font-size: 16px;
	font-weight: bold;
	text-align: right
}

.negative-votes {
	color: red;	
}

#icons img {
	padding-left: 8px;
}


section footer p{
    clear: both;
    font-size: 12px;
    margin-top: 0;
}

section footer a {
	color: black;
}

section footer a:hover {
	color: gray;
}